<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

        <div id="composite-container" class="oj-flex oj-sm-flex-items-initial">
            <oj-bind-for-each data="[[employees]]" as="employee">
                <template>
                    <demo-card class="oj-flex-item" name="[[employee.data.name]]" avatar="[[employee.data.avatar]]" work-title="[[employee.data.title]]"
                               work-number="[[employee.data.work]]" email="[[employee.data.email]]">
                    </demo-card>
                </template>
            </oj-bind-for-each>
        </div>
    </div>
</div>

